<a href="https://colab.research.google.com/github/angelinarobin/Course12/blob/main/28_Enrich_users_profiles_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Enrich users profiles

a) Import the [`microsoft_companies.json`](https://drive.google.com/file/d/1Zrja9KY-05u8XsGfK-P97zGa-NyipS49/view?usp=sharing) file into Colab.

Run the code below to get the results in the `microsoft_companies` variable. We will study tomorrow how to load data in Python.

In [5]:
import json

with open('/content/microsoft_companies (2).json') as json_file:
    microsoft_companies = json.load(json_file)

In [7]:
print(type(microsoft_companies))

<class 'list'>

b) What is the type of the `microsoft_companies` variable?

In [8]:
print(len(microsoft_companies))

301

c) How many companies are in this list?

In [11]:
First_company = microsoft_companies[0]

print(type(First_company))

<class 'dict'>

d) Look at the first item on this list. What type is it?

e) For this first item, display the company name, industry, field and total number of employees.

f) Do you think that this company "microsoft" is the giant American company?

g) So it looks like there are homonyms.

Create a new empty list and add all the companies whose names are exactly "microsoft".

To do this, you will need to loop through all the companies and use a condition to check that their names are indeed "microsoft". If this is the case, the company information will be added to the empty list.

How many are there?

In [ ]:
exact_microsoft_companies = []

# iterate through all companies
for company_info in microsoft_companies:
    # if statement to be completed

h) Among the results obtained, do you see the giant American company?

You can run the code below and then use the `pprint` function to indent the results.

You can use it like print function.

In [ ]:
from pprint import pprint

In [ ]:
pprint(exact_microsoft_companies)

[{'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 6,
             'domain0': 'https://www.develop-online.net',
             'industry': 'computer games',
             'linkedin_url': 'https://www.linkedin.com/company/develop-magazine',
             'name': 'microsoft',
             'size_range': '11 - 50',
             'total_employee_estimate': 44},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'c4d310fc0f0f277e574e20f5e2185d4765a1ab3f'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'country': 'united states',
             'current_employee_estimate': 116196,
             'domain0': 'https://www.microsoft.com',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft',
             'locality': 'redmond,washington,united states',
             'name': 'microsoft',
             'size_range': '10001+',
             'total_employee_estimate': 276983,
             'year_founded': '1975'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'd8611a51def434f1049b899a99d8a589fbb7b9c1'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 1,
             'domain0': 'https://www.',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-cyprus',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 5,
             'year_founded': '1975'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'a5140838fb9ffcda43fa4b8f35cd13ed2abe67f7'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 6,
             'domain0': 'https://www.',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-2',
             'name': 'microsoft',
             'size_range': '11 - 50',
             'total_employee_estimate': 9},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'be50e923df54801d559eb644eac1580f92052573'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 0,
             'domain0': 'https://www.microsoftaaas.com',
             'industry': 'management consulting',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-alliance-as-a-service',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 3,
             'year_founded': '2012'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': '998d5e4e4bebfdb1a2af75f3b3014ddb1377c736'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'country': 'india',
             'current_employee_estimate': 1,
             'domain0': 'https://www.maziksolutions.com',
             'industry': 'information technology and services',
             'linkedin_url': 'https://www.linkedin.com/company/mazik-solutions-pvt-ltd',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 4,
             'year_founded': '2010'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': '694e5569ffadbee848f1c3ab7a180f158a5506be'}]

Yes, the one with 276983 employees.

i) To facilitate the work of the other teams, we will translate the number of employees into categories. To do this, we will use the following correspondences:
   - less than 5: "small business
   - from 5 to 30: "startup
   - from 30 to 200: "scaleup
   - from 200 to 1000: "big companies
   - more than 1000: "very large companies


Write a function with one parameter, representing the number of employees, and returns its corresponding category.

Don't forget to return the corresponding category at the end of your function using the **return** keyword. Look carefully at the syntax of the functions in your course.

In [ ]:
def from_nb_employee_to_category(total_employee):

    category = ""

    # to be completed

    return category

print(from_nb_employee_to_category(23))

startup

j) We will go through all the companies in the initial file.

We will create an empty list that will record all the information about each company as we go along.

For each company, store its name, industry, domain and company category in relation to its number of employees (using your previous function) in a **dictionary**. Then add this dictionary to your list.

In the end, your list will contain all the dictionaries of all the companies.

In [ ]:
microsoft_companies_clean = []

# for each company in the list
for company_info in microsoft_companies:

    # to be completed
    # create new dictionnary
    dict_company = {
    }

    # to be completed
    # add dict_company to microsoft_companies_clean list


microsoft_companies_clean[0]

{'name': 'microsoft',
 'industry': 'computer games',
 'domain': 'https://www.develop-online.net',
 'cat_company': 'scaleup'}

k) Use the code below to create a DataFrame from it.

In [ ]:
import pandas as pd

df_microsoft_companies_clean = pd.DataFrame(microsoft_companies_clean)
df_microsoft_companies_clean

,name,industry,domain,cat_company
0,microsoft,computer games,https://www.develop-online.net,scaleup
1,omaha microsoft technology group,information technology and services,https://www.omahamtg.com,small business
2,microsoft alumni network ambassadors,non-profit organization management,https://www.,small business
3,scbn | microsoft certified professional - goog...,internet,https://www.scbn.biz,startup
4,locatelli mcc - designing domotica (voip) solu...,information technology and services,https://www.locatelli-mcc.com,small business
...,...,...,...,...
296,pmx dynamics-business software for the real es...,information technology and services,https://www.pmxdynamics.com,startup
297,microsoft game studios,computer software,https://www.,startup
298,microsoft alumni foundation,philanthropy,https://www.microsoftalumni.org,startup
299,naveksa a/s - manufacturing solutions for micr...,computer software,https://www.,small business
300,f-keys ltd microsoft training centre,information technology and services,https://www.f-keys.co.uk,startup

Congratulations! This is your first DataFrame.

l) What do you notice about domains column ?

When no domain has been found API outputs "https://www.".

This piece of information is not relevant to other teams. Change your code to delete that.

One way to do so is to not store this key/value pair when iterating over all companies.

In [ ]:
microsoft_companies_clean = []

# for each company in the list
for company_info in microsoft_companies:

    # to be completed
    # create new dictionnary
    dic_company = {
    }

    # to be completed
    # test domain and add the key to dictionnary if needed


    # add result to microsoft_companies_clean list


df_microsoft_companies_clean = pd.DataFrame(microsoft_companies_clean)
df_microsoft_companies_clean

,name,industry,cat_company,domain
0,microsoft,computer games,scaleup,https://www.develop-online.net
1,omaha microsoft technology group,information technology and services,small business,https://www.omahamtg.com
2,microsoft alumni network ambassadors,non-profit organization management,small business,NaN
3,scbn | microsoft certified professional - goog...,internet,startup,https://www.scbn.biz
4,locatelli mcc - designing domotica (voip) solu...,information technology and services,small business,https://www.locatelli-mcc.com
...,...,...,...,...
296,pmx dynamics-business software for the real es...,information technology and services,startup,https://www.pmxdynamics.com
297,microsoft game studios,computer software,startup,NaN
298,microsoft alumni foundation,philanthropy,startup,https://www.microsoftalumni.org
299,naveksa a/s - manufacturing solutions for micr...,computer software,small business,NaN
300,f-keys ltd microsoft training centre,information technology and services,startup,https://www.f-keys.co.uk

m)  Export the clean dataframe to a CSV format containing key information about the companies.